
<div id="brief_stats">
	<table>
		<tr>
			<td>
				<div>
					<div>Views today</div>
					<div>223</div>
				</div>
			</td>
			<td>
				<div>
					<div>Earnings today</div>
					<div>$ 2.23</div>
				</div>
			</td>
			<td>
				<div>
					<div>Total views</div>
					<div>12300</div>
				</div>
			</td>
			<td>
				<div>
					<div>Total earnings</div>
					<div>$ 12.30</div>
				</div>
			</td>
		</tr>
	</table>
</div>

<div id="shorten">
	<div class="heading">Shrink link now !</div>
	<div>
		<div id="scrollable">
			<div id="shrink_div">
				<%= form_for :shrink, url: url_action_shrink_path, html:{ id: "shrink_form" } do |f| %>
					<div>
						<div class="left"><%= f.text_field :target, class: "textInput", placeholder: "http://" %></div>
						<div class="left"><%= f.submit "Shrink", id: :shrink_button, class: "button" %></div>
					</div>
				<% end %>
			</div>
			<div id="shorten_div">
				<textarea id="shorten_textarea"></textarea>
				<div id="try_another_div"></div>
			</div>
		</div>
	</div>
</div>

<div id="announcements">
	<div class="heading">
		Announcements and updates
	</div>
	<marquee>
		<div>
			<% @announcements.each do |announcement| %>
			<div class="left">
				<span><strong>**&nbsp;<%= announcement.title %>&nbsp;**&nbsp;:&nbsp;</strong></span><span><%= announcement.body %></span><span><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></span>
			</div>
			<% end %>
		</div>
	</marquee>
</div>

<div id="links">
	<div class="heading">Manage your links</div>
    <div id="links_list">
        <div>
            <table>
                <tr>
                    <td width="30px"><div><strong>&nbsp;</strong></div></td>
                    <td width="50px"><div><strong>#</strong></div></td>
                    <td width="190px"><div><strong>short url</strong></div></td>
                    <td width="240px"><div><strong>target link</strong></div></td>
                    <td width="100px"><div><strong># of views</strong></div></td>
                    <td width="100px"><div><strong>net earning</strong></div></td>
                    <td width="70px"><div><strong>&nbsp;</strong></div></td>
                </tr>
            </table>
            <div id="slideable">
                <% unless @new_urls.empty? %>
                    <% count = 0 %>
                    <% @new_urls.each do |page| %>
                        <div id="<% if count == 0 %>first_table<% end %>" class="tables">
                            <table>
                                <% page.each do |url| %>
                                    <% count += 1 %>
                                    <tr data-urlid="<%= url.id %>">
                                        <td width="30px"><div>&nbsp;<input name="url_id" value="<%= url.id %>" type="checkbox" /></div></td>
                                        <td width="50px"><div><%= count %>.</div></td>
                                        <td width="190px"><div><a target="_blank" href="/<%= url.key %>">http://ily.io/<%= url.key %></a></div></td>
                                        <td width="240px"><div><a target="_blank" href="<%= url.target %>"><%= url.target %></a></div></td>
                                        <td width="100px"><div><%= url.views %></div></td>
                                        <td width="100px"><div>$0.00</div></td>
                                        <td width="70px"><div><a class="delete" href="<%= url_action_destroy_path(url.id) %>" data-number="<%= count %>" data-urlid="<%= url.id %>">delete</a></div></td>
                                    </tr>
                                <% end %>
                            </table>
                        </div>
                    <% end %>
                <% end %>
                <div class="<%= @new_urls.empty? ? nil : "nodisplay" %>" id="inside_slideable_when_first_time">
                    <div style="padding: 0 10px">
                        <strong>You have not shrink any url yet.??</strong><br />
                        <strong> - Watch the video to get started...</strong>
                    </div>
                    <div>
                        <video id="get_started_video" width="320" height="240" controls>
                            <source src="" type="video/mp4" />
                            <source src="" type="video/webm" />
                            <source src="" type="video/ogg" />
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="next_prev">
        <button id="prev_button" class="button">Previous page</button>
        <button id="next_button" class="button">Next page</button>
    </div>
</div>
