<div class="heading" id="title_div">
	<div>
		<% unless @advert_detail.website == "" %>
		<table>
			<tr>
				<td>
					<div><%= @advert_detail.ad_title %></div>
				</td>
				<td class="ubuntu normal">
					<div><%= link_to "Visit website", @advert_detail.website, target: :_blank %></div>
				</td>
			</tr>
		</table>
		<% else %>
		<%= @advert_detail.ad_title %>
		<% end %>
	</div>
</div>
<div class="ubuntu large" id="desc_div">
	<div>
		<%= @advert_detail.description %>
	</div>
</div>
<div id="slideshow_div">
	<div>
		<div id="img_div">
		<% count = 0 %>
		<% for image in @images %>
		<% count += 1 %>
		<% if count == 1 %>
			<%= image_tag "uploads/#{image}", "data-num" => count.to_s %>
		<% else %>
			<%= image_tag "uploads/#{image}", "data-num" => count.to_s, class: "nodisplay transparent" %>
		<% end %>
		<% end %>
		</div>
		<div id="goto_div">
		<% count = 0 %>
		<% @images.each do |image| %>
			<% count += 1 %>
			<span data-num="<%= count %>" class="<%= count == @images.length ? "current" : "" %>"></span>
		<% end %>
		</div>
	</div>
</div>