<div class="heading" id="title_div">
	<div>
		Google Co Inc.
	</div>
</div>
<div class="ubuntu large" id="desc_div">
	<div>
		Google is an American multinational corporation specializing in Internet-related services and products. These include search, cloud computing, software, and online advertising technologies. Most of its profits are derived from AdWords.
	</div>
</div>
<div id="slideshow_div">
	<div>
		<div id="img_div">
			<%= image_tag "firefox-256.png", id: "ok" %>
			<%= image_tag "Sunset.jpg", class: "nodisplay transparent" %>
			<%= image_tag "image_1306_1.jpg", class: "nodisplay transparent" %>
			<%= image_tag "Furry-Cushion-Twitter_256.png", class: "nodisplay transparent" %>
			<%= image_tag "apple_toaster_256x256.png", class: "nodisplay transparent" %>
			<%= image_tag "Redshift-icon-256.png", class: "nodisplay transparent" %>
		</div>
	</div>
</div>