<!DOCTYPE html>
<html>
	<head>
	    <title>Dashboard</title>
	    <%= stylesheet_link_tag "ily.io" %>
	    <%= stylesheet_link_tag "intersital" %>
	    <% @styles.each do |style| %>
	        <%= stylesheet_link_tag "intersital/#{style}" %>
	    <% end %>
	    <%= javascript_include_tag "jquery-1.11.1.min" %>
	    <%= javascript_include_tag "apprise-v2" %>
	    <%= stylesheet_link_tag "apprise-v2" %>
	    <%= javascript_include_tag "jquery.zclip" %>
	    <%= javascript_include_tag "intersital" %>
	    <% @scripts.each do |script| %>
	        <%= javascript_include_tag "intersital/#{script}" %>
	    <% end %>
	    <%= javascript_tag do %>
	        <% if flash[:alerts].nil? %>
	            window.alert_any = false
	        <% else %>
	            window.alert_any = true
	            window.alert_desc = "<%= j h flash[:alerts] %>"
	        <% end %>
	    <% end %>
	    <link rel="icon" type="image/ico" href="<%= image_path "favicon.ico" %>"/>

	    <%= csrf_meta_tags %>
	</head>

	<body>
		<div id="overlay">
			<header>
				<div>
					<div>
					    <div>
					        <div>
					            <img data-url="<%= root_path %>" src="<%= image_path("ily.io.png") %>">
					        </div>
					    </div>
					    <div class="red" id="countdown_div">
							Please analyse the advert below for <span class="bold largest" id="countdown_span">30</span> seconds<br />
							Then proceed to your link
					    </div>
						<div>
							<button disabled class="button" id="goto_site">Proceed to site &nbsp;&rightarrow;</button>
						</div>
					</div>
				</div>
			</header>
			<div id='vertical_bar_div'></div>
		    <form id="form" method="post"></form>
			<div id="body">
			<%= yield %>
			</div>
		</div>
        <div id="question_answer_outer_div">
            <div id="question_answer_inner_div">
				<div id="question_answer_inner_inner_div">
					<div class="heading green center" style="padding: 0 0 10px 0">Just answer this question and unlock your link !</div>
					<div class="heading" id="question_div">Unknown Error !</div>
					<div class="ubuntu" id="answers_div">
					</div>
				</div>
            </div>
        </div>
		<div class="bold ubuntu" id="question_answer_div_close">
			close&nbsp;X
		</div>
	</body>
</html>